# macOS
.DS_Store
**/.DS_Store

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Logs
logs/
*.log

# dbt
dbt_greencoop/logs/
dbt_greencoop/target/
dbt_greencoop/dbt_packages/

# Credentials / secrets
profiles.yml
.env
*.key
*.pem

# Temporary files
tmp/
temp/
# Fichiers sources dupliqués à la racine
/Construisez et testez une infrastructure de données - OpenClassrooms.pdf
/Data_Source1_011024-071024.json
/FAE_P8_DE.pdf
/Weather+Underground+-+Ichtegem,+BE (1).xlsx
/Weather+Underground+-+Ichtegem,+BE.xlsx
/Weather+Underground+-+La+Madeleine,+FR.xlsx

# Fichiers générés par dbt init non utilisés
dbt_greencoop/README.md
dbt_greencoop/.gitignore
dbt_greencoop/package-lock.yml


# Dossiers DBT vides non utilisés
dbt_greencoop/analyses/
dbt_greencoop/macros/
dbt_greencoop/seeds/
dbt_greencoop/snapshots/
dbt_greencoop/tests/
